@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

html, body, ul, li{
    margin: 0;
    padding:0;
}

body{
    display: flex;
    font-family:'Montserrat', sans-serif;
    flex-direction: column;
}

.navRow{
    display: flex;
    background-color: #7f8c8d;
    
}

.navRow>ul{
    list-style: none;
    display: flex;
    width:100%;
    justify-content: space-around;
}

.navRow>ul>li{
    flex:1;
    padding: 1em;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #c0392b;
}

.logo{
    background-color: #16a085;
    color: white;
    text-align: center;
}

h1{
    text-transform: uppercase;
}


.ParkerRow>h1{
    text-align: center;
    color: #c0392b;
}


.ParkerRow{
    background-color: #ecf0f1;
    padding: 1.2em;
}

.centerContent>ul,li{
    text-indent: 2em;
}

.centerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutUsRow{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.employmentRow{
    color: white;
    background-color: #16a085;
    text-align: center;
}

.employmentRow>h3>span{
    text-transform: uppercase;
    text-decoration: underline;
}

.bottomRow{
    font-weight: bolder;
    color: #c0392b;
    background-color:#7f8c8d ;
    text-align: center;
}

.bottomRow>h3>span{
    text-transform:capitalize;
}

.bottomRow>p{
    color: white;
}



