body{
    display: flex;
    /*font-family:'Montserrat', sans-serif;*/
    flex-direction: column;
}



h1{
    text-transform: uppercase;
}


.ParkerRow>h1{
    text-align: center;
    color: #c0392b;
}


.ParkerRow{
    background-color: #ecf0f1;
    padding: 1.2em;
}

.centerContent>ul,li{
    text-indent: 2em;
}

.centerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutUsRow{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.employmentRow{
    color: white;
    background-color: #16a085;
    text-align: center;
    padding: 20px;;
}

.employmentRow>h3>span{
    text-transform: uppercase;
    text-decoration: underline;
}

.bottomRow{
    font-weight: bolder;
    color: #c0392b;
    background-color:#bdc3c7 ;
    text-align: center;
    padding:20px;
}

.bottomRow>h3>span{
    text-transform:capitalize;
}

.bottomRow>p{
    color: white;
}

/*Nav bar code*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2A9D8F;
    color:black;
  }
  
  .nav-links a {
    color:#E9C46A;
    font-weight: 600;
  
  }
  
  .logo {
    color: #F4A261;
  }
  
  .lists {
    display: flex;
    gap: 1em;
    font-size: 18px;
    
  }
  
  .lists li a:hover {
    border-radius: 5px;
    transition: 0.3s ease;
    color: #cfab4f;
  }
  
  .lists li a {
    padding: 5px 14px;
  }
  
  .contact {
    position: relative;
  }
  
  .staff-list {
    background-color: #2A9D8F;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 24px;
  }
  
  .staff-list li + li {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .staff-list li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: left;
  }
  
  .staff-list li:hover {
    background-color: #264653;
  }
  
  .contact:hover .staff-list {
    display: block;
  }




.heading1 {font-family: 'Questrial', sans-serif;;
text-align: center; margin-bottom: -40px;

}

.services {text-align: center;font-family: 'Questrial', sans-serif; font-size: 70px; }

.services1  { list-style-position: outside; display: flex; justify-content: center; font-family: 'Questrial', sans-serif; font-size: 25px; margin-bottom: 13px;}




.grooming { list-style-position: outside; display: flex; justify-content: center; font-size:smaller; font-family: 'Questrial', sans-serif; font-size: 15px;}



.mission {text-align: center;font-family: 'Questrial', sans-serif; margin-top: 90px; font-size: 25px;}


.catio {text-align: center;font-family: 'Questrial', sans-serif; margin-top: 20px; font-size: 18px; margin-bottom: 0px;}

.catpic2 {display: flex; justify-content:flex-end; position: relative; bottom: 43%; margin-bottom: -550px;}

.catgif {margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: -50px;}


.socialmedia {text-align: center;font-family: 'Questrial', sans-serif; margin-top: 90px; font-size: 10px; margin-bottom: 10px;}

.mediapic {margin-left:auto ; margin-right: auto; margin-bottom: -110px;}

.coffeecup1 {display: flex; margin-left: 3%;}


.coffeecup2 {display: flex; justify-content:flex-end; position: relative; bottom: 8%; margin-right: 3%; margin-top: 2%;}
